html{
  background: lightgray;
  margin: 0;
  padding: 0;
}

.dados{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2rem;
  
}

h1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

form{
  display: flex;
  justify-content: center;
}

form input{
  padding:.5rem;
  border:none;
  border-radius: 5px;
  margin-right: 10px;
}

form button{
  border: none;
  border-radius: 5px;
  background: blueviolet;
  color:white;
  cursor: pointer;

}

form button:hover{
  background: purple;
  transition: .2s;
}

.listas{
  margin-top: 10px;
  border: 1px solid  rgb(94, 3, 94);
  box-shadow: purple 3px 3px 3px;
  background: rgba(228, 227, 227, 0.836);
  width: 300px;
  border-radius: 10px;
  padding:20px;

}

li{
  list-style: none;
  padding: auto;
  height: auto;
  color:black;
  font-size: 17px;
}